@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    background-image: url("./assets/spillac1a.png");
    background-repeat: no-repeat;
    background-position: left center;
}

.nav-link {
    color: #000;
}

.wrapper {
    max-width: 1140px;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

img {
    width: 100%;
}

.my__logo {
    width: 80px;
}

.colored-bg {
    background-color: #4be0dc;
}

.baner-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.baner-logo img {
    width: 400px;

}

.nav {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: sticky;
    align-items: center;
    z-index: 2222;
    top: 0px;
    transition: 1s ease;
    background-color: #4BE0DC;
    opacity: .95;
}

h2 {
    color: #081158;
    font-weight: 700;
}

.zoom .background {
    background-position: bottom !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 1018;
    transform: scale(10);
}

.sticky-bg {
    position: fixed !important;
    top: 0 !important;
}

.anas__css {
    top: 35px;
}

.text-container {
    height: 145vh;
    position: relative;
    z-index: 1019;
    margin-bottom: 60vh !important;
}

.text-container .content-1 {
    display: flex;
    align-items: center;
    margin-top: -25px;
}

.title-heading p {
    font-weight: 900;
    font-size: 3.4em;
    color: #fff;
    letter-spacing: 1px;
    line-height: 1.15em;
    position: relative;
    margin: 0 auto;

}

.title-heading p::before {
    content: 'Big';
    position: absolute;
    font-family: "Permanent Marker", cursive;
    color: #000;
    transform: rotate(1deg);
    letter-spacing: 1px;
    font-size: 3.4rem;
    margin-left: -430px;
    margin-top: -111px;
    top: 60%;
    left: 60%;
}

.zoom .content-1 .heading .cross-out::after {
    content: '';
    position: absolute;
    background: url(./assets/cross-out1651.png) no-repeat right bottom / contain;
    height: 37%;
    width: 21%;
    left: 9%;
    top: 2.2rem;
}

.yellow-arae {
    background-color: #FEF0D9;
    width: max-content;
    padding: 0 15px;
    color: #fdcf09;
    border-radius: 20px;
}

.upper__heading h2 {
    font-weight: 700 !important;
    font-size: 40px;
}

.card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 30px 30px 30px 30px;
    border: 2px solid #fff;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    background: #FFF;
    margin-bottom: 20px;
}

.card:hover {
    border: 2px solid #ffc107;
    background-color: #ffc107;
    color: #FFF;
}

.card_heading-inner h4 {
    font-size: 18px;
    font-weight: 700;
}

.btn-custom {
    background: transparent;
    border: 1px solid #000;
    border-radius: 100px;
    /* width: 100%; */
    padding: 5px 20px;
}

.box_1 {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 30px 30px 30px 30px;
    border: 2px solid #fff;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    background: #FFF;
    margin-bottom: 20px;
    cursor: pointer;
}

.box_1:hover {
    background-color: #ffc107;
    border: 2px solid #ffc107;

}

.box_1 img {
    width: 30px;
    margin-bottom: 20px;
}

.box_1 h4 {
    font-size: 18px;
    font-weight: 700;
    color: #081158;
    margin-bottom: 23px;
}

.box_1 p {
    font-family: "Open Sans", sans-serif;
    color: #000;
}

.content-text_grey p {
    font-family: "Open Sans", sans-serif;
    color: #6e6e6e;
    font-size: 16px;
    font-weight: 500;
}

.btn_my {
    border-radius: 100px;
    padding: 15px 25px;
    border: none;
}

.darkblue {
    background-color: #081158;
    color: #FFF;
    border: 1px solid #081158;
    transition: .5s ease-in-out;
}

.whitebtn {
    border: 1px solid #081158;
    background-color: #FFF;
    transition: .5s ease-in-out;
}

.darkblue:hover {
    border: 1px solid #081158;
    background-color: #FFF;
    color: #000;
}

.whitebtn:hover {
    background-color: #081158;
    color: #FFF;
}

.sub_heading h4 {
    font-size: 20px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;

}

.profile_card {
    position: relative;
    font-family: sans-serif;
    width: 220px;
    height: 220px;
    background: #fff;
    padding: 30px;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
    margin: 0 25px;
}

.profile_card:hover {
    border-radius: 10px;
    height: 260px;
}

.profile_card:hover .image {
    transform: translateY(-60px);
}

.profile_card:hover .caption {
    opacity: 1;
}

.image img:hover {
    border-radius: 10px;

}

.profile_card .image {
    position: relative;
    width: 100%;
    height: 100%;
    transition: .6s;
    z-index: 99;
}

.image img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
}

.caption {
    text-align: center;
    transform: translateY(-80px);
    opacity: 0;
    transition: .6s;
}

.caption h3 {
    font-size: 18px;
    font-family: sans-serif;
}

.caption p {
    font-size: 15px;
    color: #0c52a1;
    font-family: sans-serif;
    margin: 2px 0 9px 0;
}

.caption .social-links a {
    color: #333;
    margin-right: 15px;
    font-size: 21px;
    transition: .6s;
}

.slider__main .slick-list {
    padding: 3rem 0;
}

.slider__main .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-next::before {
    color: #081158;
}

.slick-prev::before {
    color: #081158;
}

.footer_cta {
    border-bottom: 1px solid #FDA213;
}

.footer-social-icon i {
    font-size: 20px;
}

.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}

.footer-widget-heading {
    font-size: 20px;
}

.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 20px;
    background: #FD9202;
}

ul {
    list-style: none;

}

.footer-widget ul {
    padding: 0px;
}

.footer-widget ul li {
    margin-bottom: 12px;
    color: #fff;
    list-style: none;
}

.footer-widget ul li a {
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
}

footer {
    padding: 5rem 0;
}

@media (max-width:400px) {
    .anas__css {
        top: -130px;
        position: relative;
    }
}