@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.nav-link {
    color: #000;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

img {
    width: 100%;
}

.my__logo {
    width: 80px;
}

.colored-bg {
    background-color: #4be0dc;
}

.baner-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.baner-logo img {
    width: 400px;

}

.nav {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: sticky;
    align-items: center;
    z-index: 2222;
    top: 0px;
    transition: 1s ease;
    background-color: #4BE0DC;
    opacity: .95;
}

.zoom .background {
    background-position: bottom !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 1018;
    transform: scale(10);
}

.sticky-bg {
    position: fixed !important;
    top: 0 !important;
}

.text-container {
    height: 155vh;
    position: relative;
    z-index: 1019;
    margin-bottom: 60vh !important;
}

.text-container .content-1 {
    display: flex;
    align-items: center;
    margin-top: -25px;
}

.title-heading p {
    font-weight: 900;
    font-size: 3.4em;
    color: #fff;
    letter-spacing: 1px;
    line-height: 1.15em;
    position: relative;
    margin: 0 auto;

}

.title-heading p::before {
    content: 'Big';
    position: absolute;
    font-family: "Permanent Marker", cursive;
    color: #000;
    transform: rotate(1deg);
    letter-spacing: 1px;
    font-size: 3.4rem;
    margin-left: -430px;
    margin-top: -111px;
    top: 60%;
    left: 60%;
}

.zoom .content-1 .heading .cross-out::after {
    content: '';
    position: absolute;
    background: url(./assets/cross-out1651.png) no-repeat right bottom / contain;
    height: 37%;
    width: 21%;
    left: 82px;
    top: 2.2rem;
}

.yellow-arae {
    background-color: #FEF0D9;
    width: max-content;
    padding: 0 15px;
    color: #fdcf09;
    border-radius: 20px;
}

.upper__heading h2 {
    font-weight: 700 !important;
    font-size: 40px;
}

.card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 30px 30px 30px 30px;
    border: 2px solid #fff;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    background: #FFF;
    margin-bottom: 20px;
}

.card:hover {
    border: 2px solid #ffc107;
    background-color: #ffc107;
    color: #FFF;
}

.card_heading-inner h4 {
    font-size: 22px;
    font-weight: 600;
}
.btn-custom{
    background: transparent;
    border: 1px solid #000;
    border-radius: 100px;
    /* width: 100%; */
    padding: 5px 20px;
}